__pycache__/
venv/
BACKUP/
MEDIA/
chromedriver_linux64/
.idea/
.pytest_cache/
*.pyc
*.pkl
*.pickle
*.pdf
ERROR/
REPORT/
LAST/
DATA/
test.py
test.html
env/
.env
facebook_cookies.json
source.json
